// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #00005c;
$secondary : #3333ff;
$accent    : #6666ff;

$dark      : #1d1d1d;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;



@import '~quasar-variables-styl'
